<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aravindachanta.applicationa2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Applicaation A2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChicagoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Chicago Guide"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="Application A2">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".IndianapolisActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Indianapolis Guide"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <receiver
            android:name=".ChicagoReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.aravindachanta.application" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".IndianapolisReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.aravindachanta.applications" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
